[defaults]
allow_world_readable_tmpfiles = False
callbacks_enabled             = profile_tasks
collections_path              = .collections
deprecation_warnings          = False
display_skipped_hosts         = False
forks                         = 100
host_key_checking             = False
interpreter_python            = auto_silent
pipelining                    = True
record_host_keys              = False
retry_files_enabled           = False
roles_path                    = ./roles
# stdout_callback               = yaml
system_warnings               = False
timeout                       = 60
use_persistent_connections    = True

[inventory]
enable_plugins                = yaml

[ssh_connection]
pipelining                    = True
ssh_args                      = -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=~/.ssh/cm-%r@%h:%p
